body, html {
    height: 100%;
    background: rgba(27,39,53,1);
    color: rgb(224,224,224)
}

.material-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    background: rgb(27,39,53);
    background: linear-gradient(0deg, rgba(27,39,53,1) 0%, rgba(9,10,15,1) 100%);
    min-height: 100vh;
}

.myCard {
    background-color: aliceblue;
    text-align: center;
}

.borderLeft{
    border-left: 4px solid rgb(190,169,222); 
    animation: border_anim 2s linear forwards;   
}

@keyframes border_anim {
	from{
		max-height: 0%;
	}
    to{
		max-height: 100%;
	}
}
