.vertical {
  position: relative;
  width: 30px;
  height: 230px;
  display: inline-block;
  margin-right: 10px;
}

.progress.vertical > .progress-bar {
  width: 100% !important;
  position: absolute;
  bottom: 0;
}

.progress {
  background-color: aliceblue;
  width:30px;
  height:230px;
}

.progress-bar {
  background-color: #2196f3;
  box-shadow: none;
  width:30px;
  height:230px;
}