.stars {
  height: 1px;
  width: 1px;
  z-index: 0;
  border-radius: 10px;
  background-color: white;
}

.stars2 {
  height: 2px;
  width: 2px;
  z-index: 0;
  border-radius: 10px;
  background-color: white;
}

.stars3 {
  height: 3px;
  width: 3px;
  z-index: 0;
  border-radius: 10px;
  background-color: white;
}

.diamondStar {
  background-color: white;
  scale: 1;
  height: 10px;
  width: 5px;
  clip-path: path("M2.5,0 L2.5,5 L5,5 Q2.5,3.75 2.5,0 M5,5 L2.5,5 L2.5,10 Q2.5,6.25 5,5 M2.5,10 L2.5,5 L0,5 Q2.5,6.25 2.5,10 M0,5 L2.5,5 L2.5,0 Q2.5,3.75 0,5");
}

.shootingStar {
  background: white;
  height: 5px;
  width: 5px;
  offset-path: path('M0,0 Q75,40 150,100');
  box-shadow: 0px 0px 20px 10px #8D5BD0;
  border-radius: 100%;
  visibility: hidden;
}

.shootingStar::before{
    content:'';
    position: absolute;
    left: -800%;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 3px;
    background: linear-gradient(90deg,transparent,#FFF);
}

@keyframes move-along-path {
  0% {
    visibility: visible;
    offset-distance: 0%;
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    offset-distance: 100%;
    opacity: 0;
  }
}

@keyframes blinking {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}