.stars {
  height: 1px;
  width: 1px;
  z-index: 0;
  border-radius: 10px;
  background-color: white;
}

.stars2 {
  height: 2px;
  width: 2px;
  z-index: 0;
  border-radius: 10px;
  background-color: white;
}

.stars3 {
  height: 3px;
  width: 3px;
  z-index: 0;
  border-radius: 10px;
  background-color: white;
}

.diamondStar {
  background-color: white;
  scale: 1;
  height: 10px;
  width: 5px;
  clip-path: path("M2.5,0 L2.5,5 L5,5 Q2.5,3.75 2.5,0 M5,5 L2.5,5 L2.5,10 Q2.5,6.25 5,5 M2.5,10 L2.5,5 L0,5 Q2.5,6.25 2.5,10 M0,5 L2.5,5 L2.5,0 Q2.5,3.75 0,5");
}

@keyframes blinking {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}