.stars {
  height: 1px;
  width: 1px;
  z-index: 0;
  border-radius: 10px;
  background-color: white;
  animation: blinking 2.5s linear infinite;
}

.stars2 {
  height: 2px;
  width: 2px;
  z-index: 0;
  border-radius: 10px;
  background-color: white;
  animation: blinking 3s linear infinite
}

.stars3 {
  height: 3px;
  width: 3px;
  z-index: 0;
  border-radius: 10px;
  background-color: white;
  animation: blinking 3.5s linear infinite;

}

@keyframes blinking {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}