* {
  color: rgb(200, 200, 200);
  font-family: 'Montserrat', sans-serif;
}

.myTitleLeft {
  font-size: 400%;
  font-weight: bold;
  white-space: nowrap;
}

.myTitleCenter {
  font-size: 400%;
  font-weight: bold;
  text-align: center;
}

.p1 {
  text-align: center;
  color: rgb(200, 200, 200);
}

.p1left {
  font-family: serif;
}

h3 {
  text-align: center;
}

h1 {
  text-align: center;
}

.v_line {
  border-left: 5px solid rgb(57, 2, 135);
  height: 500px;
}

.h_line {
  border-bottom: 3px solid rgb(194, 194, 194);
  width: 20%;
  margin: auto;
}



