.vertical {
  width: 30px;
  height: 230px;
  border-left: 5px solid rgb(57, 2, 135);
}

.vertical > .progress-bar {
  width: 100% !important;
  bottom: 0;
}

.progress-bar {
  background-color: #2196f3;
  box-shadow: none;
}